

.c7 .details__indoor details__center:hover .wrapp--maw {
    min-width: 800px; /*ps*/
}

.c7 .details__indoor {
    padding: 145px 0;
    max-width: 1282px; 
}







.details__indoor .display >*{
    transition: .5s;
}
/*.display *:not(.display__always) {*/
.details__indoor:not(:hover) .display >*{
    opacity: 0;
}
.display .display__always.display__always {
    display: block;
    opacity: 1;
}





/*end wrapper-instance*/
/*beginning details*/
.details{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    flex-flow: row nowrap;
    justify-content: center;
    /* overflow: auto; */
}

.details__indoor{
    position: relative;
    z-index: 2;
    
    /*height: 100%;*/
    margin-top: 0%;
    
    transition: 0.5s ease 0s;
    overflow: hidden;
    
    height: 1018px;
    
    flex: 1 2;
    flex-basis: 10%;
    min-width: 50px;
    
    min-height: 10px;
    
    //box-shadow: inset 0 0 15px 10px rgba(0,0,0, .5),
     inset 0 0 15px 10px rgba(255,255,255, .5);
}

.details__indoor:hover{
    flex-grow: 2;
    flex-shrink: 1;
/*    flex-basis: 90%;*/
    flex-basis: 1200px;
    flex-basis: 580px;
    
    
    overflow-y: hidden;
}

.details__left{
    background: url(../img/tesla/1-bg.jpg) no-repeat left center;
}

.details__left:hover{
    background-image: url(../img/tesla/1-bg-hover.jpg);
}

.details__left.active{
    height: 0%;
    margin-top: 100%;
}

.details__center{
    margin-bottom: 0%;
    background: url(../img/tesla/2-bg.jpg) no-repeat center;
    //transition: 0.5s ease 0s, height 0.5s ease 0.2s, margin-bottom 0.5s ease 0.2s;
}

.details__center:hover{
    background-image: url(../img/tesla/2-bg-hover.jpg);
}

.details__center.active{
    height: 0%;
    margin-bottom: 100%;
}

.details__right{
    background: url(../img/tesla/3-bg.jpg) no-repeat right center;
    //transition: 0.5s ease 0s, height 0.5s ease 0.4s, margin-top 0.5s ease 0.4s;
}

.details__right:hover{
    background-image: url(../img/tesla/3-bg-hover.jpg) ;
}

.details__right.active{
    height: 0%;
    margin-top: 100%;
}

.details__indoor__mini{
    width: 467px;
    position: relative;
    z-index: 2;
    margin: 215px 0px 0px 90px;
}

.details__indoor__mini__title{
    font-size: 38px;
    color: #fff;
    text-transform: uppercase;
}

.details__indoor__mini__info{
    height: 66px;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin-top: 13px;
}

.details__indoor__mini__animate{
    width: 270px;
    margin-top: 50px;
    cursor: pointer;
}

.details__indoor__mini__animate__circle * {
    box-sizing: border-box;
}

.details__indoor__mini__animate__circle {
    width: 76px;
    height: 76px;
    margin: 40px 0px 0px 0px;
    position: relative;
    float: left;
}

.spinner {
    width: 50%;      
    height: 100%;
    z-index: 2;
    border-right: none;
    animation: rota 10s linear infinite;
    position: absolute;
    bottom: 0px;
    right: 50%;

    overflow: hidden;
}

.details__indoor:hover .spinner{
    -webkit-animation: fill2 0.5s linear 0s 1;
    animation: fill2 0.5s linear 0s 1;
}

.pie {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 1;
    border-left: none;
    overflow: hidden;
}

.details__indoor:hover .pie{
    -webkit-animation: fill 0.5s linear 0s 1;
    animation: fill 0.5s linear 0s 1;
}

/*.details__indoor__mini__animate__circle:hover .spinner,
.details__indoor__mini__animate__circle:hover .filler{
    animation-play-state: paused;
}*/


.left-indoor{
    width: 38px;
    height: 76px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 100% 0 0 100%/50% 0 0 50%;
    border: 2px solid #FFFFFF;
    border-right: none;
}

.right-indoor{
    width: 38px;
    height: 76px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0 100% 100% 0/0 50% 50% 0;
    border: 2px solid #FFFFFF;
    border-left: none;
}

@-webkit-keyframes fill {
    0% {height: 0%; width: 0%;}
    25% {height: 30%; width: 50%;}
    50%,100% {height: 100%;width: 50%;}
}

@keyframes fill {
    0% {height: 0%; width: 0%;}
    25% {height: 30%; width: 50%;}
    50%,100% {height: 100%;width: 50%;}
}

@-webkit-keyframes fill2 {
    0% {height: 0%; width: 0%;}
    50% {height: 0%; width: 50%;}
    75% {height: 30%;width: 50%;}
    100% {height: 100%;width: 50%;}
}

@keyframes fill2 {
    0% {height: 0%; width: 0%;}
    50% {height: 0%; width: 50%;}
    75%{height: 30%;width: 50%;}
    100% {height: 100%;width: 50%;}
}

.details__indoor__mini__animate__circle__arrow{
    width: 36px;
    height: 16px;
    position: absolute;
    top: 29px;
    left: 20px;
    background: url(../img/arrow-r.png) no-repeat;
    opacity: 1;

}

.details__indoor:hover .details__indoor__mini__animate__circle__arrow{
    -webkit-animation: fill3 0.7s linear 0s 1;
    animation: fill3 0.7s linear 0s 1;
}

@-webkit-keyframes fill3 {
    0% {width: 0px;}
    95% {width: 0px;}
    100% {width: 36px;}
}

@keyframes fill3 {
    0% {width: 0px;}
    95% {width: 0px;}
    100% {width: 36px;}
}

.details__indoor__mini__animate__info{
    float: left;
    font-size: 19px;
    color: #fff;
    margin: 66px 0px 0px 20px;
}

.details__indoor__info{
    width: 675px;
    height: 23px;
    position: absolute;
    bottom: 47px;
    left: 98px;
}

.details__indoor__info__title{
    float: left;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
}

.details__indoor__info__separator{
    float: left;
    width: 490px;
    height: 1px;
    margin: 16px 0px 0px 30px;
    background: #879196;
}

.details__popup{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.details__popup.active{
    height: auto;
}

.details__popup__indoor{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #000;
    cursor: pointer;
}

.details__popup__main{
    width: 0%;
    height: 0px;
    position: relative;
    z-index: 2;
    margin: 0px auto;
    transition: 0.3s ease 0s, height 0s ease 0s, margin 0s ease 0.9s;
    overflow: hidden;
}


.details__popup__main.active {
    width: 90%;
    margin: 44px auto 104px;
    /* margin-right: 5.5%; */
    transition: width 0.3s ease 0.6s, height 0s ease 0s, margin 0s ease 0s;
}

.details__popup__main-0.active {
    height: 2165px;
    height: 100%;
}

.details__popup__main-1.active {
    height: 2205px;
    height: 100%;
}

.details__popup__main-2.active {
    height: 1365px;
    height: 100%;
}

.details__popup__indoor__menu{
    margin: 0px auto 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    background: #000;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition:0.3s ease 0s;
}


.details__popup.active .details__popup__indoor__menu {
    height: 78px;
    transition:0.3s ease 0.6s;
}

.details__popup__indoor__menu__indoor{
    width: 90%;
    position: relative;
    margin: 25px auto 0px;
}



.details__popup__indoor__menu__logo{
    float: left;
}

.details__popup__indoor__menu__back{
    float: right;
    cursor: pointer;
}

.details__popup__indoor__menu__back > p{
    float: left;
    margin: 0px auto 0px;
    font-size: 17px;
    color: #fff;
}

.details__popup__indoor__menu__back > img{
    float: left;
    margin: 3px 17px 0px 0px;
    transition: 0.3s ease 0s;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

.details__popup__indoor__menu__back:hover img{
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
}

.details__popup__main-0{
    /* background: url(../img/p-bg-1.jpg) no-repeat center 617px #E5E5E5; */
    /* background-size: inherit; */
}

.details__popup__main-0 .for-details__popup__main__indoor {
    background: url(../img/p-bg-1.jpg) no-repeat center 617px #E5E5E5;
    background-size: inherit;
    overflow: hidden;
    height: 1044px;
}

.details__popup__main__indoor{
    width: 654px;
    height: 100%;
    margin: 0px auto 0px;
    padding: 1px 0px;
    text-align: center;
}

.details__popup__main__indoor__title{
    font-size: 38px;
    color: #000;
    margin: 73px 0px 0px 0px;
}

.details__popup__main__indoor__separator{
    width: 68px;
    height: 5px;
    background: #FF0000;
    margin: 18px auto 0px;
}

.details__popup__main__indoor__info{
    font-size: 19px;
    line-height: 23px;
    color: #000;
    margin-top: 32px;
}

.details__popup__main__indoor__car{
    width: 100%;
    height: 594px;
    position: relative;
    margin: 70px auto 0px;
    padding: 1px 0px;
}

.details__popup__main__indoor__car__circle{
    width: 58px;
    height: 58px;
    position: relative;
    background: #FCA5AC;
    border-radius: 50%;
    margin: 42px auto 0px;
    padding: 1px 0px;
    transition: 0.3s ease 0s;
}

.details__popup__main__indoor__car__circle__little{
    width: 42px;
    height: 42px;
    position: relative;
    background: #FF0721;
    border-radius: 50%;
    margin: 8px 0px 0px 8px;
    transition: 0.3s ease 0s;
}

.details__popup__main__indoor__car:hover .details__popup__main__indoor__car__circle{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.details__popup__main__indoor__car__circle__little__up{
    position: absolute;
    top: 6px;
    left: 11px;
    transition: 0.6s ease 0s;
}

.details__popup__main__indoor__car__circle:hover .details__popup__main__indoor__car__circle__little__up{
    transform: translateY(-3px);
    -webkit-transform:translateY(-3px);
}

.details__popup__main__indoor__car__circle__little__down{
    position: absolute;
    bottom: 6px;
    left: 11px;
    transition: 0.6s ease 0s;
}

.details__popup__main__indoor__car__circle:hover .details__popup__main__indoor__car__circle__little__down{
    transform: translateY(3px);
    -webkit-transform:translateY(3px);
}

.details__popup__main__indoor__car__title{
    font-size: 14px;
    color: #000000;
    margin: 4px 0px 0px 0px;
    line-height: 14px;
    position: relative;
}

.details__popup__main__indoor__car__circle--change{
    position: absolute;
    top: 210px;
    right: 8px;
    z-index: 1;
}

.details__popup__main__indoor__car__circle__little__plus{
    position: absolute;
    top: 11px;
    left: 12px;
    transition: transform 0.6s ease-out 0s;
}

.details__popup__main__indoor__car__circle--change:hover .details__popup__main__indoor__car__circle__little__plus{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.details__popup__main__indoor__car__main{
    position: absolute;
    top: 0px;
    left:0px;
    /* z-index: -1; */
}

.details__popup__main__indoor__car__main > img {
    width: 82.1%;
    margin-top: 90px;
    margin-left: -1%;
}

#pos{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    background: url(../img/bg-car.png) no-repeat 30px 0px;
    cursor: move;
}

.for-details__popup__main__indoor2{
    margin: 60px 0px 0px 0px;
}

.for-details__popup__main__indoor2 > img{
    width: 100%;
    display: block;
}

.details__popup__main-0__title{
    font-size: 16px;
    line-height: 23px;
    color: #FEFEFE;
    margin: 32px 0px 0px 0px;
}

.for-details__popup__main__indoor3{
    margin: 47px 0px 0px;
    display: flex;
    display:-webkit-flex;
    align-items: stretch;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.for-details__popup__main__indoor3__for-img{
    flex: 1 1;
    -webkit-flex: 1 1;
}

.for-details__popup__main__indoor3__for-img > img{
    width: 100%;
    display: block;
}

.for-details__popup__main__indoor3__options{
    flex: 1 1;
    -webkit-flex: 1 1;
    display: flex;
    display: -webkit-flex;
}

.for-details__popup__main__indoor3__options__mini{
    width: 275px;
    height: 307px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.for-details__popup__main__indoor3__options__mini__logo{
    display: block;
    margin: 0px auto 0px;
    transform: perspective(300px) rotateX(0deg)translateY(0%) scale(1);      
    -webkit-transform: perspective(300px) rotateX(0deg)translateY(0%) scale(1);
    transition: 0.3s ease 0s;
}

.for-details__popup__main__indoor3__options__mini.active .for-details__popup__main__indoor3__options__mini__logo{
    transform: perspective(300px) rotateX(90deg)translateY(-100%) scale(0.5);
    -webkit-transform: perspective(300px) rotateX(90deg)translateY(-100%) scale(0.5);
}

.for-details__popup__main__indoor3__options__mini__button {
    border: 3px solid #FF0000;
    width: 100%;
    height: 51px;
    transition: 0.3s ease 0s;
    position: absolute;
    bottom: 25px;
    left: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

 .for-details__popup__main__indoor3__options__mini.active .for-details__popup__main__indoor3__options__mini__button{
    height: 100%;
    margin: 0px 0px 0px 0px;
    bottom: 0px;
}

#main-form{
    margin: -187px auto 0px;
    transition: 0.3s ease 0s;
}

#main-form .desc {
    color: #868686;
}

#main-form .btn{
    padding: 0px;
    background: none;
}

#main-form2{
    margin: -187px auto 0px;
    transition: 0.3s ease 0s;
}

.for-details__popup__main__indoor3__options__mini.active #main-form{
    margin-top: 42px;
}

.for-details__popup__main__indoor4__options__mini.active #main-form2{
    margin-top: 42px;
}

.for-details__popup__main1__indoor__options__mini.active #main-form2{
    margin-top: 42px;
}

.for-details__popup__main__indoor4__options__mini.active .for-details__popup__main__indoor4__options__mini__button__for-click{
    height: 0%;
}


#main-form2 .btn{
    color: #000;
    padding: 0px;
    background: none;
}

.for-details__popup__main__indoor3__options__mini__button__for-click{
    width: 100%;
    height: 47px;
    cursor: pointer;
    padding: 1px 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.for-details__popup__main__indoor3__options__mini.active .for-details__popup__main__indoor3__options__mini__button__for-click{
    height: 0px;
}

.for-details__popup__main__indoor3__options__mini__button__text{
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding: 0px 0px;
    margin: 12px 0px 0px 0px;
    transition: 0.3s ease 0s;
}


.details__popup__main-1{
    background: #E5E5E5;
    width: 0%;
    height: 0px;
    position: relative;
    z-index: 2;
    /* margin: 44px auto; */
    /* transition: 0.3s ease 0s; */
    overflow: hidden;
}

.details__popup__main-1__indoor{
    /* width: 100%; */
    height: 100%;
    margin: 0px auto 0px;
    padding: 1px 0px;
    text-align: center;
}



.details__popup__main-2__indoor__for-img{
    width: 90%;
    height: 100%;
    position: relative;
    margin: 97px auto 0px;
}

.details__popup__main-2__indoor__for-img > img{
    width: 100%;
    display: block;
    margin: 60px 0px 0px 0px;
}





.details__popup__main-2{
    background: #E5E5E5;
    width: 0%;
    height: 0px;
    position: relative;
    z-index: 2;
    /* margin: 44px auto; */
    transition: 0.3s ease 0s;
    overflow: hidden;
}

.details__popup__main-2__indoor__for-img{
    width: 90%;
    height: 100%;
    position: relative;
    margin: 97px auto 0px;
}

.details__popup__main-2__indoor__for-img > img{
    width: 100%;
    display: block;
}

.for-details__popup__main__indoor4{
    margin: 47px 0px 97px;
    display: flex;
    display:-webkit-flex;
    align-items: stretch;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.for-details__popup__main__indoor4__for-img{
    flex: 1 1;
    -webkit-flex: 1 1;
}

.for-details__popup__main__indoor4__for-img > img{
    width: 100%;
    display: block;
    background: url(../img/img-5.jpg) no-repeat;
}

.for-details__popup__main__indoor4__options{
    flex: 1 1;
    -webkit-flex: 1 1;
    display: flex;
    display: -webkit-flex;
}

.for-details__popup__main__indoor4__options__mini{
    width: 275px;
    height: 307px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.for-details__popup__main__indoor4__options__mini__logo{
    display: block;
    margin: 0px auto 0px;
    transform: perspective(300px) rotateX(0deg)translateY(0%) scale(1);      
    -webkit-transform: perspective(300px) rotateX(0deg)translateY(0%) scale(1);
    transition: 0.3s ease 0s;
}

.for-details__popup__main__indoor4__options__mini.active .for-details__popup__main__indoor4__options__mini__logo{
    transform: perspective(300px) rotateX(90deg)translateY(-100%) scale(0.5);
    -webkit-transform: perspective(300px) rotateX(90deg)translateY(-100%) scale(0.5);
}

.for-details__popup__main__indoor4__options__mini__button {
    border: 3px solid #FF0000;
    width: 100%;
    height: 51px;
    transition: 0.3s ease 0s;
    position: absolute;
    bottom: 25px;
    left: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

 .for-details__popup__main__indoor4__options__mini.active .for-details__popup__main__indoor4__options__mini__button{
    height: 100%;
    margin: 0px 0px 0px 0px;
    bottom: 0px;
}

.for-details__popup__main__indoor4__options__mini__button__for-click{
    width: 100%;
    height: 47px;
    cursor: pointer;
    padding: 1px 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.for-details__popup__main__indoor4__options__mini__button__text{
    font-size: 22px;
    color: #000;
    text-align: center;
    padding: 0px 0px;
    margin: 13px 0px 0px 0px;
    transition: 0.3s ease 0s;
}

.for-details__popup__main1__indoor__options__mini{
    width: 275px;
    height: 307px;
    position: relative;
    margin: 142px auto 20px;
    overflow: hidden;
}

.for-details__popup__main1__indoor__options__mini__logo{
    display: block;
    margin: 0px auto 0px;
    transform: perspective(300px) rotateX(0deg)translateY(0%) scale(1);      
    -webkit-transform: perspective(300px) rotateX(0deg)translateY(0%) scale(1);
    transition: 0.3s ease 0s;
}

.for-details__popup__main1__indoor__options__mini.active .for-details__popup__main1__indoor__options__mini__logo{
    transform: perspective(300px) rotateX(90deg)translateY(-100%) scale(0.5);
    -webkit-transform: perspective(300px) rotateX(90deg)translateY(-100%) scale(0.5);
}

.for-details__popup__main1__indoor__options__mini__button{
    border: 3px solid #FF0000;
    width: 100%;
    height: 51px;
    transition: 0.3s ease 0s;
    position: absolute;
    bottom: 25px;
    left: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

 .for-details__popup__main1__indoor__options__mini.active .for-details__popup__main1__indoor__options__mini__button{
    height: 100%;
    margin: 0px 0px 0px 0px;
    bottom: 0px;
}

 .for-details__popup__main1__indoor__options__mini.active .for-details__popup__main1__indoor__options__mini__button__for-click{
    height: 0%;
}

.for-details__popup__main1__indoor__options__mini__button__for-click{
    width: 100%;
    height: 47px;
    cursor: pointer;
    padding: 1px 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.for-details__popup__main1__indoor__options__mini__button__text{
    font-size: 22px;
    color: #000;
    text-align: center;
    padding: 0px 0px;
    margin: 12px 0px 0px 0px;
    transition: 0.3s ease 0s;
}
/*end details*/

