div {
    border: 1px solid;
}
.second_com {
    padding-left: 15px;
}

.person {
    display: inline-block;
    margin-right: 5px;
}

.likes_qnty {
    display: inline-block;
}



.likeit {
    cursor: pointer;
}


.respond {
    cursor: not-allowed;
    opacity: .5;
}
